{
  "installMethod": "native",
  "autoUpdates": false,
  "customApiKeyResponses": {
    "approved": [
      "dummy"
    ],
    "rejected": []
  },
  "env": {
    "ANTHROPIC_API_KEY": "dummy",
    "ANTHROPIC_BASE_URL": "https://llm-api.amd.com/Anthropic",
    "ANTHROPIC_CUSTOM_HEADERS": "Ocp-Apim-Subscription-Key: __CLAUDE_SUB_KEY__",
    "ANTHROPIC_MODEL": "__LATEST_OPUS__",
    "ANTHROPIC_DEFAULT_OPUS_MODEL": "__LATEST_OPUS__",
    "ANTHROPIC_DEFAULT_SONNET_MODEL": "__LATEST_SONNET__",
    "ANTHROPIC_DEFAULT_HAIKU_MODEL": "__LATEST_HAIKU__",
    "CLAUDE_CODE_DISABLE_NONESSENTIAL_TRAFFIC": "1",
    "CLAUDE_CODE_DISABLE_EXPERIMENTAL_BETAS": "1"
  },
  "tipsHistory": {
    "new-user-warmup": 0
  },
  "hasCompletedOnboarding": true,
  "skipWelcome": true,
  "skipApiKeyConfirmation": true,
  "acceptedTerms": true,
  "autoUpdatesProtectedForNative": true
}
