[user]
  email = zhuoryin@amd.com
  name = jerryyin
[pager]
  branch = false
[core]
  excludesfile = ~/.gitignore
[push]
  autoSetupRemote = true
[url "git@github-e:AMD-Triton/"]
  insteadOf = git@github.com:AMD-Triton/
[url "ssh://git@github-e/AMD-Triton/"]
  insteadOf = ssh://git@github.com/AMD-Triton/
[alias]
  cmt = commit --signoff
[safe]
	directory = /zyin/vault
